@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}

.container {
     padding-right: 1rem;
     padding-left: 1rem;
}

.container-center {
    margin: auto;
    max-width: 600px; 
}


:root {
    --primary-color: #c026d3;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}